/* line 31, ../sass/variables.scss */
.beveled-bg {
  background-color: #1C1C1C;
  background: linear-gradient(210deg, transparent 26px, #1c1c1c 20px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 8px;
  color: white;
  border-left: 4px solid #0062a8;
  border-bottom: 1px solid #0062a8;
  line-height: 1em !important;
}
/* line 42, ../sass/variables.scss */
.overtime.checked_in .beveled-bg {
  border-color: #dc7000;
}
/* line 43, ../sass/variables.scss */
.overtime_absolute.checked_in .beveled-bg {
  border-color: #cb0000;
}

/* line 46, ../sass/variables.scss */
strong {
  font-weight: bold;
  color: #0095FF;
}
/* line 49, ../sass/variables.scss */
.overtime.checked_in strong {
  color: #FF9500 !important;
}
/* line 50, ../sass/variables.scss */
.overtime_absolute.checked_in strong {
  color: #FF0000 !important;
}
