{% extends "_layouts/other_info.html.twig" %}

{% block head %}
    <script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/js/info.js"></script>
{% endblock %}

{% block content %}

    {# Administration de la page d'informations #}
    {% if admin_mode == 'admin_mode' %}
    
    {# Erreurs de validation du formulaire #}
	{% if validation_errors() is not empty %}
	<div class="wrong">
	    {{ validation_errors() }}
	</div>
	{% endif %}
	
    <form id="info-form" method="post" action="/info">
        <p>
            <label for="changes-number">Nombre de nouveautés&nbsp;: </label>
            <input type="text" name="changes-number" size="1" maxlength="1"/>
        </p>
        <textarea id="infos" name="infos" rows="100">{{ informations }}</textarea>
        
        <input type="submit" value="Enregistrer" />
    </form>
    {% else %}
    {{ informations }}
    {% endif %}
    
{% endblock %}